@use './reset.scss';
/* Add your css here */
*, body *, body *::after, body *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

body {
  background: #e7e6e6;
}

html {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  line-height: 1.30769231;
}

.h-container {
  background: white;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "right left";
}

.h-container .left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: right;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 15px;
  margin-left: 45px;
}

@media (max-width: 756px) {
  .h-container .left {
    position: relative;
    top: 15px;
    margin-left: 0px;
  }
}

.h-container .right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: left;
  padding: 15px;
  margin-right: 45px;
}

@media (max-width: 756px) {
  .h-container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: 0px;
    padding: 10px 10px;
  }
}

.h-container .right ul li {
  display: inline;
  padding: 0px 15px;
  float: right;
}

@media (max-width: 756px) {
  .h-container .right ul li {
    float: right;
    padding: 2px 15px;
  }
}

.h-container img {
  max-width: 70px;
  height: auto;
}

@media (max-width: 756px) {
  .h-container img {
    width: 20px;
  }
}

.h-container a {
  color: #4a4646;
  text-decoration: none;
  text-transform: none;
}

@media (max-width: 756px) {
  .h-container a {
    font-size: 12px;
  }
}

.banner {
  width: 100%;
  background-image: url(bg.jpg);
  background-size: cover;
  height: auto;
}

.banner .sec-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: right;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 10px;
}

.banner .sec-top h6 {
  color: white;
  padding-right: 15px;
}

.banner .sec-top button {
  border: 1px solid white;
  background-color: none;
  color: white;
}

.search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .logo {
  width: 200px;
}

@media (max-width: 756px) {
  .search .logo {
    width: 100px;
  }
}

.search h2 {
  font-size: 32px;
  float: left;
  color: white;
  text-align: center;
}

.search-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

@media (max-width: 756px) {
  .search-restaurant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search-restaurant #search-res {
  width: 500px;
  height: auto;
  border-radius: 20px;
  border: white;
  margin: 5px;
}

@media (max-width: 756px) {
  .search-restaurant #search-res {
    width: 250px;
  }
}

.search-restaurant #search-loc {
  margin-top: 0px;
  width: 200px;
  height: auto;
  border-radius: 20px;
  border: white;
}

@media (max-width: 756px) {
  .search-restaurant #search-loc {
    width: 250px;
  }
}

.search-restaurant .search-btn {
  background-color: #ff3d3d;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 45px;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 756px) {
  .search-restaurant .search-btn {
    width: 75px;
    height: 30px;
    font-size: 12px;
    margin-bottom: 45px;
  }
}

.widget {
  display: -ms-grid;
  display: grid;
  grid-row: auto;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
      grid-template-areas: 'zomaland search' 'collection search';
  padding: 15px;
}

@media (max-width: 756px) {
  .widget {
    grid-row: 30% auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: 'search' 'collection';
  }
}

.search-delivery {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: search;
  width: 100%;
}

.search-delivery .search-white {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.search-delivery .search-white span {
  padding: 15px 0px;
}

.search-delivery .search-white .search-del {
  width: 85%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  margin: 0px;
}

@media (max-width: 756px) {
  .search-delivery .search-white .search-del {
    height: 30px;
    width: 80%;
  }
}

.search-delivery .search-white .detect-btn {
  padding: 5px;
  background: #e1e1e1;
  border: 0px;
  text-align: center;
  border-radius: 3px;
  margin: 0px;
  width: 13%;
}

@media (max-width: 756px) {
  .search-delivery .search-white .detect-btn {
    font-size: 12px;
    width: 17%;
  }
}

.search-delivery .search-white .btn {
  background: green;
  color: wheat;
  border-radius: 3px;
  height: 40px;
}

@media (max-width: 756px) {
  .search-delivery .search-white .btn {
    height: 30px;
  }
}

.search-delivery .search-white .line {
  margin-top: 15px;
  width: 100%;
  height: 1px;
  background-color: #c7c0c0;
  margin-bottom: 10%;
}

.search-delivery .search-white .offer {
  color: green;
  margin-bottom: 90px;
  display: block;
  width: 100%;
  text-align: center;
}

.zomaland img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: zomaland;
  width: 80%;
  padding-right: 15px;
}

@media (max-width: 756px) {
  .zomaland img {
    display: none;
  }
}

.collections {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: collection;
  display: block;
  overflow: hidden;
  height: auto;
}

.collections .collection-head {
  margin: 15px 0px;
}

.collections .collection-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: collection;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
}

.collections .card {
  margin-right: 15px;
}

@media (max-width: 756px) {
  .collections .card {
    width: 48%;
    margin: 0 0 5px 5px;
    text-align: center;
  }
}

.collections .collection-footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: collection;
  width: 98.5%;
  padding: 10px;
  height: auto;
  text-align: center;
  background-color: white;
  color: #ff3d3d;
}

.categories {
  margin: 15px;
}

.categories .cat-head {
  padding: 15px 0px;
}

.categories #category-list {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories li {
  text-align: center;
  padding: 10px;
  width: 12%;
}

@media (max-width: 756px) {
  .categories li {
    width: 32%;
    padding: 0px 15px;
  }
}

.categories li img {
  width: 80px;
}

@media (max-width: 756px) {
  .categories li img {
    width: 60px;
  }
}

.localities {
  margin: 15px;
}

.localities .locality-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
  background-color: white;
}

.localities .locality-list ul {
  width: 480px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.localities .locality-list ul li {
  font-size: 16px;
  padding-bottom: 10px;
}

.localities .locality-list ul li span {
  color: #9d9c9c;
}

footer {
  background-color: #292929;
  margin: 15px;
  color: #d0cbcb;
}

footer .foot-top {
  position: relative;
  top: 0px;
  padding: 15px;
}

footer .foot-top img {
  width: 50px;
  height: auto;
}

footer .foot-top .dropdown {
  color: white;
  float: right;
  background-color: black;
}

footer .foot-top .dropdown button {
  color: white;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

footer .footer-wrapper ul {
  width: 480px;
  height: auto;
  padding-right: 15px;
}

footer .footer-wrapper li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5px;
}

.line {
  width: 90;
  height: 0.5px;
  background-color: #605e5e;
  margin: 15px;
}

.countries {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

@media (max-width: 756px) {
  .countries {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.countries ul {
  margin-left: 15px;
  margin-right: 250px;
}

.countries ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5px;
}

.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
}

.terms li {
  padding-right: 30px;
}
/*# sourceMappingURL=style.css.map */